html,body{
	height: 99%;
	width: 99%;
}
*{
	box-sizing: border-box;
}
.banner{
	background-color: aliceblue;
	margin: 15px;
	padding: 10px;
	border: 3px solid #e18cf2;
	box-shadow: 1px 3px 30px 1px #0091ff;
	outline: 10px 10px #457b82 groove;
	text-transform: capitalize;
	text-shadow: 1px 1px ghostwhite;
	font-family: anaheim;
	height: 150px;
	text-align: center;
	font-style: oblique;
}
h2{
	font-size: 0.8em; 
}
.logo{
	width: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
}
.container{
	border:2px #0091ff;
	position: relative;
	top: 2px;
	margin: 15px;
	padding: 10px;
	height: 700px;
	overflow: hidden;
	background-color: rgba(69,123,130,0.4);
	text-align: center;
}

.menu{
	position: absolute;
	top: 50px;
	left: 70px;
	color:aliceblue;
	font-family: Anaheim;
	font-size: 2em;
	text-shadow: 2px 2px ghostwhite;
	font-style: oblique;
	width: 100px;
	overflow: hidden;
}
.menu a{
	color: rgb(240, 250, 240);
	background-color: blue;
	text-shadow: 0px 0px ;
	font-size: 0.5em;
	padding: 1px;
	border: 1px solid aliceblue;
	display: none;
}
.menu:hover a{
	display: block;
}
.menu a:hover{
	color: blue;
	background-color: aliceblue;
}
